<html>
  <head>
    <title>{{subject}}</title>
  </head>
  <body>
    <h3>Hello, There!</h3>
    <p>Thank you for signing up for Shopifity.</p>
    <p>Your registration code is: <strong>{{code}}</strong></p>
    <p>This code will expire in 10 minutes. If you did not sign up for an
      account, you can safely ignore this email.</p>
    <p>Best regards,</p>
    <p>The Shopifity Team</p>
  </body>
</html>