<html>
  <head>
    <title>{{subject}}</title>
  </head>
  <body>
    <h3>Your Otp has been regenerated</h3>
    <p>Your registration code is: <strong>{{code}}</strong></p>
    <p>This code will expire in 10 minutes. If you did not request for this quickly contact us.</p>
    <p>Best regards,</p>
    <p>The Shopifity Team</p>
  </body>
</html>